#page4{
	padding: 0px;
	margin: 0px;
	background-image: url("../images/background4.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
}

.commonimage{
	width: 25%;
	height: 25%;
	margin-top: 30%;
	margin-left: 4%;

}