#page1{
	padding: 0px;
	margin: 0px;
	background-image: url("../images/background1.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
}
#jumbo1{
	margin-top: 40px;
}
#jumbo2{
	margin-top: 5px;
}